<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="../public/images/captain-america-shield-image-1336x768.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../public/images/Screenshot.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="../public/images/wallpaper-mania.com_High_resolution_wallpaper_background_ID_77700855274.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>