<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Application </title>
    <link rel="stylesheet" href="../../bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../../css/custom.css">

</head>



<body>
    
<header>
        {{> _myntra_navbar}}
    </header>
    {{{
        body
    }}}
    
    <script src="../../jquery/dist/jquery.js" ></script>
    <script src="../../popper.js/dist/popper.js" ></script>
    <script src="../../js/client.js"></script>
   <div class="container">
        <h1>Home</h1>
   </div>

</body>

</html>